.contact {
  text-align:center;
}

.contact hr{
    color: #212121;
    margin-left:20%;
    margin-right:20%;
}

.contact div{
  margin: 100px;
}

.title {
      margin-bottom: 50px;
      font-size: x-large;
}

.statements{
      font-size: large;
}
