.headerNav{
  display: flex;
  align-items: center;
  flex-wrap:wrap;
}

.navWrapper{
  display: flex;
  gap: 3rem;
  margin-left: auto;
  margin-right: 5%;
}

.logo{
  display: flex;
  align-items: center;
  mix-blend-mode: multiply;
}

