.header{
  width: 100%;
  margin: 1%;
  transition: background-color 0.5s ease;
}

.headerNav{
  display: flex;
  align-items: center;
}

.navWrapper{
  margin-left: auto;
  margin-right: 5%;
}

.logo{
  display: flex;
  align-items: center;
  margin-left: ;
  mix-blend-mode: multiply;
}

.navLink{
  color: hsl(240 10% 3.9%);
  font-size: x-large;
  margin-right: 100px;
  transition: color 0.5s ease;
}
