.card{
  width:350px;
  height:450px;
  margin: 2.5% 5% 2.5% 5%;
  transition: all 0.4s ease;
}

.card:hover{
  transform: translateY(-10px);
}

.image{
  width:100%;
  height:auto;
  box-shadow: 5px 15px 15px #ccc;
  transition: all 0.4s ease;
}

.image:hover{
  box-shadow: 5px 20px 22px #ddd;
}
.cardTextBox{
  margin-top: 20px;
  display:flex;
  
}
.detailData{
  margin-left:auto;
  font-size: small; 
}
